# Python virtual environment
.venv/
venv/
env/

# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite3

# IDE specific files
.vscode/
.idea/

# Environment variables
.env

# System Files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/